body {
    background-image: url('img/header.jpg');
background-repeat:no-repeat;
    background-size:cover;
	font-family: 'ithra';
	position:fixed;
   bottom:0px;
}

@font-face {
	font-family: 'ithra';
	src: url('font/ithra-light-webfont.ttf');
}
.corner {
    border-radius: 25px;
    background: rgba(255,255,255,0.3);
    padding: 20px; 
    width: 500px;
    height: 10px;    
}
.corner2 {
    border-radius: 25px;
    background: transparent;
    padding: 20px; 
    width: 100px;
    height: 20px;  
    border: 2px solid #fff700;	
}
.under {
text-decoration: underline;	
font-size: 15px;

	position: relative;
	text-align: center;
	display: block;
    right: -230px;
	bottom: -10px;
    padding-left: 80px;
	margin: auto;
	text-shadow: 2px 2px rgba(0,0,0,0.3);

	font-weight: normal; !important 

}
h1 {
    color: white;
	font-family: 'ithra';
}
.menu{
    position: relative;
    width: 100%;
    margin-top: 0%;
	
}
.navbar {
  overflow: hidden;
  position: fixed;
  top: 35px;
  width: 100%;
}
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
  font-size: 20px;
}
.center{
	position: relative;
	text-align: center;
	display: block;
	width: 100%;
	right: -200px;
    padding-top: 290px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 80px;
	margin: auto;
	font-size: 30px;
	font-weight: normal; !important 
}
.center2{
	position: relative;
	text-align: center;
	display: block;
    right: -340px;
    padding-left: 80px;
	margin: auto;
	font-size: 30px;
	font-weight: normal;
	
}
.center3{
	position: relative;
	text-align: center;
	display: block;
    right: -500px;
	bottom: -10px;
    padding-left: 80px;
	margin: auto;
	font-size: 30px;
	font-weight: normal; !important 
}
.topright {
    position: absolute;
    top: -120px;
    right: -700px;
	display: block;
	text-indent: -0px;
	float:right;

}

img {
 position: relative;
 width: 400px;
 height: 400px;
}
.thick {
    color: white;
	font-weight: bold;
}

p {
    font-family: 'ithra';
    font-size: 20px;
	color: white;
	border:0;
	width : 162px;
	height : 113px;
	margin : 0;
	padding : 0;
	font-weight: normal; 
	text-shadow: 2px 2px rgba(0,0,0,0.3);
	
}
