body {
    background-image: url('img/header.jpg');
	background-repeat:no-repeat;
    background-size:cover;
	font-family: 'ithra';
	position:fixed;
   bottom:0px;
}

@font-face {
	font-family: 'ithra';
	src: url('font/ithra-light-webfont.ttf');
}
.corner {
    border-radius: 25px;
    background: rgba(255,255,255,0.3);
    padding: 20px; 
    width: 500px;
    height: 10px;    
}

.corner2 {
    border-radius: 25px;
    background: transparent;
    padding: 20px; 
    width: 100px;
    height: 20px;  
    border: 2px solid #fff700;	
}
.corner3 {
    border-radius: 25px;
    background: rgba(255,255,255,0.3);
    padding: 20px; 
    width: 500px;
    height: 500px;    
}
.under {
text-decoration: underline;	
font-size: 15px;

	position: relative;
	text-align: center;
	display: block;
    right: -230px;
	bottom: -10px;
    padding-left: 80px;
	margin: auto;
	text-shadow: 2px 2px rgba(0,0,0,0.3);

	font-weight: normal !important ;

}

.under:hover {
    text-decoration: underline;	
    color: #050035;
}

h1 {
    color: white;
	font-family: 'ithra';
}
.menu{
    position: relative;
    width: 100%;
    margin-top: 0%;
	
}
.navbar {
  overflow: hidden;
  position: fixed;
  top: 35px;
  width: 100%;
}
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
  font-size: 20px;
}
.center{
	position: relative;
	text-align: center;
	display: block;
	width: 100%;
	right: -200px;
    padding-top: 290px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 80px;
	margin: auto;
	font-size: 30px;
	font-weight: normal; !important 
}
.center2{
	position: relative;
	text-align: center;
	display: block;
    right: -340px;
    padding-left: 80px;
	margin: auto;
	font-size: 30px;
	font-weight: normal;
	
}
.center3{
	position: relative;
	text-align: center;
	display: block;
    right: -500px;
	bottom: -10px;
    padding-left: 80px;
	margin: auto;
	font-size: 30px;
	font-weight: normal!important; 
}
.center4{
	position: relative;
	text-align: center;
	display: block;
	width: 100%;
	right: -200px;
    padding-top: 290px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 80px;
	margin: auto;
	font-size: 15px;
	font-weight: normal !important ;
}
.center5{
	position: relative;
	text-align: center;
	display: block;
	width: 50%;
    padding-top: 10px;
    padding-left: -1000px;
	margin: auto;
	font-size: 15px;
	font-weight: normal !important; 

}
.center6{
	position: relative;
	text-align: center;
	display: block;
    right: -100px;
	bottom: -10px;
    padding-left: 80px;
	margin: auto;
	font-size: 20px;
	font-weight: normal!important; 
}
.topright {
    position: absolute;
    top: -120px;
    right: -700px;
	display: block;
	text-indent: -0px;
	float:right;

}

img {
 position: relative;
 width: 400px;
 height: 400px;
}
.thick {
    color: white;
	font-weight: bold;
}

p {
    font-family: 'ithra';
    font-size: 20px;
	color: white;
	border:0;
	width : 162px;
	height : 113px;
	margin : 0;
	padding : 0;
	font-weight: normal; 
	text-shadow: 2px 2px rgba(0,0,0,0.3);
	
}
label {
	
	 margin: 0;
	 padding: 0;
	 margin: 0 auto;
	 font-family: 'ithra';
	 color: white;
	 position: relative;
	 right:-400px;
	 font-weight: bold;
	 text-shadow:none;
	 font-size: 20px;
	
}
.button {
    align-content: center;
    background:  transparent;
    color: white;
    border: 2px solid #fff700; /*Yellow */
    border-radius: 12px;
    font-size: 16px;
	font-family: 'ithra';
	
}

.button:hover {
    background-color: #fff700; 
    color: #050035;
}
.thick:hover {
    color: yellow;
    text-decoration: underline;
}

/*-------------------------------*/
/* remove codrops styles and reset the whole thing */


/** The wrapper that will contain our two forms **/
#wrapper{
	
	right: -400px;
	top: -100px;
	height: 500px;	
	margin: 0px auto;	
	width: 550px;
	background: rgba(255,255,255,0.3);
	position: relative;
 border-radius: 15px;	
}
#wrapper2{
	
	right: -400px;
	top: -10px;
	height: 625px;	
	margin: 0px auto;	
	width: 550px;
	background: rgba(255,255,255,0.3);
	position: relative;
 border-radius: 15px;	
}

#wrapper input:not([type="submit"]){
	width: 100%;
	margin-top: 9px;
	padding:10px;
    width: 300px;
    height: 15px;
	 border-radius: 15px;
      background: rgba(255,255,255,0.8);
	   border: 2px solid #fff700;
	 margin-right: -60px;
	
}

#wrapper2 input:not([type="submit"]){
	width: 100%;
	padding:10px;
    width: 300px;
    height: 15px;
	 border-radius: 15px;
      background: rgba(255,255,255,0.8);
	   border: 2px solid #fff700;
	 left:190px;

	
}

#wrapper h1{
	font-size: 48px;
	color: white;
	padding: 2px 0 10px 0;
	font-family: 'ithra';
	font-weight: bold;
	text-align: center;
	padding-bottom: 30px;
}


#wrapper2 h1{
	font-size: 40px;
	color: white;
	font-family: 'ithra';
	font-weight: bold;
	text-align: center;
	padding-bottom: 5px;
}

#wrapper a {
	font-size: 15px;
	color:white;
	padding:10px;
	text-align:center;
	top:-100px;
	right:0px;
}

#wrapper a:hover {
 text-decoration: underline;	
    color: #050035;
}
#wrapper2 a {
	font-size: 15px;
	color:white;
	padding:10px;
	text-align:center;
	top:-9px;
	right:0px;
}

#wrapper2 a:hover {
 text-decoration: underline;	
    color: #050035;
}
#wrapper2 label{

	 font-family: 'ithra';
	 color: white;
	 font-weight: bold;
	 text-shadow:none;
	 font-size: 20px;
	 text-align: right;
	 right:-190px;
}

